@using Crypto;
@using Data;

@inject AccountsService accountService; 

@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<label>Input:</label>
<input @bind="inputText"/>

<label>Output:</label>
<input @bind="outputText" />

<button class="btn btn-primary" @onclick="Encrypt">Encrypt</button>
<button class="btn btn-primary" @onclick="Decrypt">Decrypt</button>
@code {
    private int currentCount = 0;

    private string inputText;

    private string outputText;

    private void IncrementCount()
    {
        currentCount++;
        accountService.GetAccounts();
    }

    private void Encrypt()
    {
        var result = Crypto.Encrypt(inputText, "Test123");
        outputText = result;
    }

    private void Decrypt()
    {
        var result = Crypto.Decrypt(inputText, "Test123");
        outputText = result;
    }

}