@using Data;
@using AccountsModel;
@using Microsoft.AspNetCore.DataProtection
@using PasswordKeeperBlazor.DataObjects

@page "/logins"

@inject AccountsService accountService
@inject AuthenticationStateProvider authState
@inject IJSRuntime js
<AuthorizeView>
    <Authorized>
        <h3>Component1</h3>
        @foreach (var account in userLogins)
         {
             <div>@account.Username</div>
             <div class="password-container">
                 <div class="password-div">@account.Password</div>
                 <button class="btn-show-password">Show Password</button>
             </div>
         }

    </Authorized>
    <NotAuthorized>
        <h1>Error: Not Authorized</h1>
    </NotAuthorized>
</AuthorizeView>



@code {

    private int? authenticatedMasterId;
    private List<AccountLogin> userLogins;

    protected override Task OnInitializedAsync()
    {
        var authenticationState = authState.GetAuthenticationStateAsync();
        var authenticationResultUser = authenticationState.Result.User;
        var validatedUser = authenticationResultUser.Identities.First().IsAuthenticated ?
            authenticationResultUser.Identities.First().Claims.First().Value : null;
        if (validatedUser != null)
        {
            authenticatedMasterId = accountService.GetMasterId(validatedUser);
        }

        if (authenticatedMasterId != null)
        {
            userLogins = accountService.GetAccountsByMasterId((int) authenticatedMasterId);
        }
        return base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("buttonHelper");

    }

    [JSInvokable]
    public static Task<string> DecryptString(string pass)
    {
        return Task.FromResult(Crypto.Crypto.Decrypt(pass, Crypto.Secrets.MASTER_KEY));
    }
}

